:root {

    --primary-color: #03045e;
    --secondary-color: #0077b6;
    --tertiary-color: #ff6d00;
    --quaternary-color: white;
    --box-shadow-color: rgba(0,0,0,.75);
    /* ----- Table Values ----- */
    --border: hsla(0,0%,15%,.8);
    --shadow: hsl(0,0%,50%);
}

body {
    font-family: "Montserrat Alternates", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 400px;
}

.banner {
    display: flex;
    background-color: var(--tertiary-color);
    padding: .25rem;

}

#banner-text {
    flex-grow: 1;
    margin-left: 0.5rem;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

footer {
    font-size: 14pt;
    padding: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.hamburger {
    position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    margin-left: -1.75rem;
    font-weight: bold;
}

.navigation li {
    margin-right: .5rem;
    margin-left: .5rem;
}

.navigation a:link, header a:link {
    color: var(--quaternary-color);
    text-decoration: none;
}
section a:link {
    color: var(--primary-color);
}

.navigation a:visited, section a:visited {
    color: var(--tertiary-color);
}

header a:visited {
    color: var(--quaternary-color);
}

.navigation a:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    padding: .5rem;
    padding-bottom: .25rem;
}

header a:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    padding: .15rem;   
}

section a:hover {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
}

header hr {
    margin-top: 1.25rem;
    width: 100%;
    color: var(--quaternary-color);
}

header h1 {
    font-size: 3rem;
    margin-top: .5rem;
    margin-left: 1rem;
}

.call-to-action {
    margin-top: -1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: var(--tertiary-color);
    font-weight: bold;
}

.hero-img {
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-img img {
    max-width: 100%;
    height: auto;
}

section, .grid-container, .contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--primary-color);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
    margin: .25rem auto;
    padding-bottom: 1rem;
    width: 95%;
    list-style-position: inside;
}

.grid-container {
    padding-top: 1rem;
}

picture {
    grid-column: 2 / 4;
}

#rental-img {
    grid-column: 1 / 3;
}

.flex-img {
    display: flex;
    text-align: center;
    margin: .25rem auto;
    min-width: 60px;
    max-width: 95%;
    height: auto;
}

h2, h3, h4 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.currentpage {
    border-bottom: 3px solid var(--tertiary-color);
}

.currentpage a:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

/* ---------- Home page ---------- */
.index-main h4, ul, li {
    margin-bottom: .25rem;
}

#weather-icon {
    vertical-align: middle;
    width: 15%;
    height: auto;
  }

.no-flex-column {
    flex-direction: none;
}

.weather li {
    list-style: none;
    margin-bottom: .75rem;
    margin-left: -1rem;
}

.forecast {
    margin-top: .5rem;
    margin-left: 1rem;
}

#intro-img {
    max-width: 100%;
    height: auto;
}

#rental-img {
    max-width: 450px;
    height: auto;
}

#weather-img {
    max-width: 400px;
    height: auto;
}


/* ---------- Rentals page ---------- */

table {
	margin: 10px;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
    overflow-y: auto;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

tr:first-child th {
	background-color: var(--primary-color);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--shadow);
}

th {
	background-color: var(--secondary-color);
	font-size: larger;
    color: var(--quaternary-color);
}

tbody tr:nth-child(even), #walkin {
	background-color: hsl(0, 0%, 90%, 1);
}

.table-large, .navigation, header hr {
    display: none;
}

/* ---------- Contact page ---------- */

#gmap-container {
    width: 100%;
    overflow: hidden;
    height: 300px;
}

#gmap {
    border:0;
    margin-top: -150px;
}

.input-element {
    width: 100%;
    margin-bottom: .75rem;
}

#email:not(:placeholder-shown) {
    background-color: lightgray;
}

#email:valid {
    background-color: white;
}

/* ---------- Reservations page ---------- */
.reservations-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: auto;
    padding-top: 1rem;
}

.reservations-section form {
    padding-right: 3.5rem;
    padding-left: 3rem;
}

.rental-agreement {
    padding-left: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

#res-type {
    width: 101.5%;
}