@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
	box-sizing:border-box;
}

body {
	display: grid;
	font-family: "Ubuntu", Helvetica, sans-serif;
}

header {
    text-align: center;  
    padding: 0.5rem;
    background-color: #1d3557;
    color: white;
    font-size: 18pt;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

h2 {
    background-color: #4c4c4c;
    color: white;
    padding: 1rem;
    font-size: 24px;
}

section {
    margin: .5rem;
    margin-top: 1rem;
    background-color: #cccccc;
}

section p, img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 14pt;
}

section img {
    max-width: 100%;
}

footer {
    text-align: center;  
    background-color: #1d3557;
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 30em) {

    main {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    #parc {
        grid-column: span 2;   
    }
}

@media screen and (min-width: 45em) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    #parc {
        grid-column: span 1;
    }    
}