@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
	box-sizing:border-box;
}

body {
    display: grid;
    text-align: center;
    justify-content: center;
	font-family: "Montserrat", Helvetica, sans-serif;
    max-width: 100%;
}

header {
    background-color: #283618;
    color: #FEFAE0;
}

h1 {
    font-size: 18pt;
}

nav {  
    margin-top: -1rem;
    justify-content: center;
    font-size: 28px;
    background-color: #283618;
    color: #FEFAE0;
}

nav a:link {
    color: #FEFAE0;
    text-decoration: none;
}

nav a:visited {
    color: #BC6C25;
}

nav a:hover {
    background-color: #BC6C25;
    color: #FEFAE0;
}

li {
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

/* main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 1rem;
    max-width: 100%;
} */

.hero-img img {
    max-width: 100%;
    height: auto;
}

section  {
    margin: .5rem;
    margin-top: 1rem;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
    padding: .5rem;
}

h2 {
    color: #BC6C25;
}

hr {
    width: 95%;
    color: #BC6C25;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}

.current-events h3 {
    margin-bottom: -1rem;
}

.current-events h3, .current-events p {
    text-align: left;
    padding-left: 1rem;
}

.current-events p::before {
    content: "▪️ ";
}

.subtitle {
    font-style: italic;
    margin-top: -.5rem;
}

footer {
    background-color: #283618;
    color: #FEFAE0;
    font-size: 14pt;
    font-weight: bold;
}

#lastModified {
    color: #BC6C25;
}


/* Dark mode switch */
.mode {
    position: absolute;
	top: 2rem;
	right: 1rem;
    width: 57px;
    height: 25px;
  }
  
  /* Hide default checkbox */
  .mode input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BC6C25;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #BC6C25;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


@media screen and (min-width: 400px) {

    #menu {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }
    
    .navigation {
        display: none;
    }

    .open {
        display: block;
    }

    .close {
        display: none;
    }
}