@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
	box-sizing:border-box;
}

body {
    text-align: center;
    justify-content: center;
	font-family: "Montserrat", Helvetica, sans-serif;
    max-width: 100%;
}

header {
    display: grid;
    background-color: #283618;
    color: #FEFAE0;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #BC6C25;
    color: #FEFAE0;
    padding: .5rem;
}

#banner-text {
    flex-grow: 1;
}

h1 {
    font-size: 18pt;
}

nav {  
    margin-top: -1rem;
    justify-content: center;
    font-size: 28px;
    background-color: #283618;
    color: #FEFAE0;
}

nav a:link {
    color: #FEFAE0;
    text-decoration: none;
}

nav a:visited {
    color: #BC6C25;
}

nav a:hover {
    background-color: #BC6C25;
    color: #FEFAE0;
}

nav li {
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

.hero-img img {
    max-width: 100%;
    height: auto;
}

section  {
    margin: .5rem;
    margin-top: 1rem;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
    padding: .5rem;
}

h2 {
    color: #BC6C25;
}

hr {
    width: 95%;
    color: #BC6C25;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}

.current-events h3 {
    margin-bottom: -1rem;
}

.current-events h3, .current-events p {
    text-align: left;
    padding-left: 1rem;
}

.current-events p::before {
    content: "▪️ ";
}

.subtitle {
    font-style: italic;
    margin-top: -.5rem;
}
/* ------ Weather -------- */
.weather-card h3 {
    margin-top: .5rem;
    margin-bottom: .25rem;
}
#weather-icon {
    vertical-align: middle;
    width: 2rem;
    height: auto;
    margin-right: .5rem;
  }
#weather-desc {
    margin-top: 1rem;
    margin-bottom: .25rem;
  }
  .current-weather {
    margin-top: -.75rem;
    margin-bottom: -.75rem;
}
.forecast {
    margin: .6rem;
}

footer {
    display: grid;
    background-color: #283618;
    color: #FEFAE0;
    font-size: 14pt;
    font-weight: bold;
}

#lastModified {
    color: #BC6C25;
}

/* -------- Discover page --------- */
.discover-main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 1rem;
    max-width: 100%;
}

.discover-main img {
    max-width: 100%;
    height: auto;
}
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-wrapper > * {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.photo-wrapper > * {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 15px;
    font-size: smaller;
    /* hover effect */
}

/* -------- Join Page --------- */
.main-join {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

.form {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.form label {
    display: block;
	text-align: left;
}

.form input, .form div {
	display: block;
}

#join-button {
    border: none;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    padding: .75rem;
    width: 15rem;
    margin-left: .15rem;
}

.benefits {
    text-align: left;
    font-size: .93em;
    border: 1px solid #999;
    margin: 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.benefits h2, h3 {
    text-align: center;
}

.thanks-container {
    display: grid;
    margin: 2rem;
    border: 1px solid #999;
}

/* -------- Directory Page -------- */

.cards {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
}

.cards section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
    padding-top: 1rem;
	background-color: #283618;
    color: #FEFAE0;
}

.cards h3 {
    color: #BC6C25;
}

.cards img {
    max-width: 150px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
    height: 475px;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.list {
	display: flex;
	flex-direction: column;
    margin-bottom: 1.5rem;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 1rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: #283618;
}


/* -------- Dark Mode Switch -------- */
.mode {
    position: absolute;
	top: 2rem;
	right: 1rem;
    width: 57px;
    height: 25px;
  }
  
  /* Hide default checkbox */
  .mode input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BC6C25;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #BC6C25;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

@media screen and (min-width: 300px) {

    #menu {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }
    
    .navigation {
        display: none;
    }

    .open {
        display: block;
    }

    .close {
        display: none;
    }
}