@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
	box-sizing:border-box;
}

body {
    display: grid;
    text-align: center;
    justify-content: center;
	font-family: "Montserrat", Helvetica, sans-serif;
    max-width: 100%;
}

header {
    background-color: #283618;
    color: #FEFAE0;
}

h1 {
    font-size: 18pt;
}

nav {  
    margin-top: -1rem;
    justify-content: center;
    font-size: 28px;
    background-color: #283618;
    color: #FEFAE0;
}

nav a:link {
    color: #FEFAE0;
    text-decoration: none;
}

nav a:visited {
    color: #BC6C25;
}

nav a:hover {
    background-color: #BC6C25;
    color: #FEFAE0;
}

li {
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 1rem;
    max-width: 100%;
}

section {
    margin: .5rem;
    margin-top: 1rem;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
    padding: .5rem;
}

h2 {
    color: #BC6C25;
}

.hero-img {
    max-width: 100%;
}

.hero-img img {
    max-width: 1280px;
    height: auto;
}

footer {
    background-color: #283618;
    color: #FEFAE0;
    font-size: 14pt;
    font-weight: bold;
}

#lastModified {
    color: #BC6C25;
}

@media screen and (min-width: 400px) {

    #menu {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }
    
    .navigation {
        display: none;
    }

    .open {
        display: block;
    }

    .close {
        display: none;
    }
}