@media screen and (min-width: 1000px) {

    .top-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }


    header {
        margin-bottom: -.5rem;
    }

    h1 {
        font-size: 28pt;
    }

    .current-events {
        grid-column: 1 / 3;
    }
    
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    #menu {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;        
        margin-right: 10px;
    }

/*---- Old Code for Reference ----*/
    /* main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .current-events {
        grid-column: 1 / 2;
    }

    .weather {
        grid-column: 2 / 3;
    }
    
    .spotlights {
        grid-row: 3 / 3;
        grid-column: 1 / 2;
    }   

    .call-to-action {
        grid-row: 3 / 3;
        grid-column: 2 / 3;
    }

    #menu {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;        
        margin-right: 10px;
    }
    
    .navigation {
        display: flex;
    } */

    .navigation {
        display: flex;
    }

}