@media screen and (min-width: 750px) {

    main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }


    header {
        margin-bottom: -.5rem;
    }

    h1 {
        font-size: 28pt;
    }

    .hero-img {
        grid-row: 1;
        grid-column: 1 / 3;
        max-width: 100%;
        height: auto;
    }
    .call-to-action {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .current-events {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    .weather {
        grid-row: 3 / 3 ;
        grid-column: 1 / 2;
    }
    
    .spotlights {
        grid-row: 3 / 3;
        grid-column: 2 / 3;
    }   

    #menu {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;        
        margin-right: 10px;
    }

    .navigation {
        display: flex;
    }
}