@media screen and (min-width: 750px) {

    .top-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    header {
        margin-bottom: -.5rem;
    }

    h1 {
        font-size: 28pt;
    }

    .current-events {
        grid-column: 1 / 2;
    }
    
    .weather {
        grid-column: 2 / 3;
    }
    
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    #menu {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;        
        margin-right: 10px;
    }

    .navigation {
        display: flex;
    }

    .discover-main {
        grid-template-columns: 1fr 1fr;
    }

    .photo-wrapper {
        margin-left: -20px;
    }

    .photo-wrapper img:hover {
        box-shadow: 0 0 50px #333;
    }

}