@media screen and (min-width: 600px) {

    .top-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    header {
        margin-bottom: -.5rem;
    }

    h1 {
        font-size: 28pt;
    }

    .banner {
        padding-top:1rem;
        margin-bottom: -.5rem;
    }

    .hero-img img {
        max-width: 100%;
        height: auto;
        margin-top: .5rem;
    }

    .current-events {
        grid-column: 1 / 2;
    }
    
    .weather {
        grid-column: 2 / 3;
    }
    
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;        
        margin-right: 10px;
    }

    .navigation {
        display: flex;
    }

    .mode-toggle:after {
        content: "Dark";
        position: absolute;
        top: 2.5rem;
        right: 0.3rem;
        color: #BC6C25;
    }

    input:checked + .mode-toggle:after {
        content: "Light";
        color: #FEFAE0;
      }

    .discover-main {
        grid-template-columns: 1fr 1fr;
    }

    .photo-wrapper {
        margin-left: -20px;
    }

    .photo-wrapper img:hover {
        box-shadow: 0 0 50px #333;
    }

    .main-join {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .form {
        grid-column: span 2;
    }

    .benefits {
        grid-column: span 3;
    }
}