@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates');

* {
	box-sizing:border-box;
}

body {
    display: grid;
    text-align: center;
    justify-content: center;
	font-family: "Montserrat Alternates", Helvetica, sans-serif;
}

.hero {
grid-column: 1 / 3;
position: relative;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #ced7ff);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;

}

header {
    display: flex;
	justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: steelblue;
    color: white;
}

header img {
    margin-right: 2rem;
    max-width: 30%;
    min-width: 120px;
}

nav {
    padding-right: 1.5rem;
    background-color: black;
    font-size: 28px;
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color:steelblue;
}

nav a:hover {
    background-color: steelblue;
    color: white;
}

nav li {
    margin-bottom: 10px;
    list-style-type: none;    
    margin-right: 10px;
}

main {
	padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

section {
	box-shadow: 0 0 3px rgba(0,0,0,.3);
    padding-bottom: 0.5rem;
}

main section ul {
    text-align: left;
    list-style-type: none;
}

h3 {
    background-color: steelblue;
    color: white;
    padding: 1rem;
    font-size: 24px;
}

h3::before {
    content:"- "
}

h3::after {
    content:" -"
}

iframe {
    height: 250px;
    width: 80%;
    padding-bottom: 1rem;    
}

footer {
    background-color: steelblue;
    color: white;
    font-size: 14pt;
    font-weight: bold;
}

#lastModified {
    color: yellow;
}

@media screen and (min-width: 400px) {

    #menu {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    #menu.open::before {
        content: "X";
    }
    
    .navigation {
        display: none;
    }

    .open {
        display: block;
    }

    .close {
        display: none;
    }
}

@media screen and (min-width: 750px) {

    #menu {
        display: none;
    }
    .navigation {
        display: block;
    }
}