
#form {
    display: block;
}

#rating {
	width: 180px;
    display: flex;
    margin: 0 0 1% 35%;
}

#ratingvalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0% 36%;
	width: 10rem;
}

#rangevalues option {
	flex: 1 1 auto;
}