@media screen and (min-width: 750px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

    main {
        display: grid;
    }

    main h2 {
        grid-column: 1/3;
    }
    main hr {
        width: 95%;
        grid-column: 1/3;
        margin: .5rem;
    }
    main section {
        grid-column: 1/2;
        margin-right: 15px;
    }

    main .card {
        grid-column: 2/3;
    }
    #menu::before {
        content: "";
    }
}